lgraal yeast human 0.5 0.1
lgraal RNorvegicus SPombe 0.5 0.1
lgraal RNorvegicus CElegans 0.5 0.1
lgraal RNorvegicus MMusculus 0.5 0.1
lgraal RNorvegicus AThaliana 0.5 0.1
lgraal RNorvegicus DMelanogaster 0.5 0.1
lgraal SPombe CElegans 0.5 0.1
lgraal SPombe MMusculus 0.5 0.1
lgraal SPombe AThaliana 0.5 0.1
lgraal SPombe DMelanogaster 0.5 0.1
lgraal CElegans MMusculus 0.5 0.1
lgraal CElegans AThaliana 0.5 0.1
lgraal MMusculus DMelanogaster 0.5 0.1
lgraal SCerevisiae HSapiens 0.5 0.1
hubalign yeast human 0.1 0.1
hubalign RNorvegicus SPombe 0.1 0.1
hubalign RNorvegicus CElegans 0.1 0.1
hubalign RNorvegicus MMusculus 0.1 0.1
hubalign RNorvegicus AThaliana 0.1 0.1
hubalign RNorvegicus DMelanogaster 0.1 0.1
hubalign SPombe CElegans 0.1 0.1
hubalign SPombe MMusculus 0.1 0.1
hubalign SPombe AThaliana 0.1 0.1
hubalign SPombe DMelanogaster 0.1 0.1
hubalign CElegans MMusculus 0.1 0.1
hubalign CElegans AThaliana 0.1 0.1
hubalign MMusculus DMelanogaster 0.1 0.1
hubalign SCerevisiae HSapiens 0.1 0.1
sanaec yeast human 0.5 0.1
sanaec RNorvegicus SPombe 0.5 0.1
sanaec RNorvegicus CElegans 0.5 0.1
sanaec RNorvegicus MMusculus 0.5 0.1
sanaec RNorvegicus AThaliana 0.5 0.1
sanaec RNorvegicus DMelanogaster 0.5 0.1
sanaec SPombe CElegans 0.5 0.1
sanaec SPombe MMusculus 0.5 0.1
sanaec SPombe AThaliana 0.5 0.1
sanaec SPombe DMelanogaster 0.5 0.1
sanaec CElegans MMusculus 0.5 0.1
sanaec CElegans AThaliana 0.5 0.1
sanaec MMusculus DMelanogaster 0.5 0.1
sanaec SCerevisiae HSapiens 0.5 0.1
sanas3 yeast human 0.5 0.1
sanas3 RNorvegicus SPombe 0.5 0.1
sanas3 RNorvegicus CElegans 0.5 0.1
sanas3 RNorvegicus MMusculus 0.5 0.1
sanas3 RNorvegicus AThaliana 0.5 0.1
sanas3 RNorvegicus DMelanogaster 0.5 0.1
sanas3 SPombe CElegans 0.5 0.1
sanas3 SPombe MMusculus 0.5 0.1
sanas3 SPombe AThaliana 0.5 0.1
sanas3 SPombe DMelanogaster 0.5 0.1
sanas3 CElegans MMusculus 0.5 0.1
sanas3 CElegans AThaliana 0.5 0.1
sanas3 MMusculus DMelanogaster 0.5 0.1
sanas3 SCerevisiae HSapiens 0.5 0.1
sanawec yeast human 0.5 0.1
sanawec RNorvegicus SPombe 0.5 0.1
sanawec RNorvegicus CElegans 0.5 0.1
sanawec RNorvegicus MMusculus 0.5 0.1
sanawec RNorvegicus AThaliana 0.5 0.1
sanawec RNorvegicus DMelanogaster 0.5 0.1
sanawec SPombe CElegans 0.5 0.1
sanawec SPombe MMusculus 0.5 0.1
sanawec SPombe AThaliana 0.5 0.1
sanawec SPombe DMelanogaster 0.5 0.1
sanawec CElegans MMusculus 0.5 0.1
sanawec CElegans AThaliana 0.5 0.1
sanawec MMusculus DMelanogaster 0.5 0.1
sanawec SCerevisiae HSapiens 0.5 0.1
random RNorvegicus CElegans 0.01 0.01
random RNorvegicus MMusculus 0.01 0.01
random RNorvegicus AThaliana 0.01 0.01
random RNorvegicus DMelanogaster 0.01 0.01
random SPombe CElegans 0.01 0.01
random SPombe MMusculus 0.01 0.01
random SPombe AThaliana 0.01 0.01
random SPombe DMelanogaster 0.01 0.01
random CElegans MMusculus 0.01 0.01
random CElegans AThaliana 0.01 0.01
random MMusculus DMelanogaster 0.01 0.01
random SCerevisiae HSapiens 0.01 0.01